#tasks{    
    padding-top: 12px;
    padding-bottom: 12px;
    margin-top: 15px;
    border-right: 2px solid rgba(10, 113, 10, 0.75);
    border-bottom: 2px solid  rgba(10, 113, 10, 0.75);
    border-left: 2px solid  rgba(10, 113, 10, 0.75);
    border-top: 2px solid  rgba(10, 113, 10, 0.75);
} 